<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()"><img src="../../assets/CY_Tech.svg"
                alt="CY Tech logo" /></button>
        <div class="logo-text" @fadeInOut *ngIf="collapsed">CY Tech</div>
        <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item">
                <a *ngIf="this.authService.connected()" class="sidenav-nav-link"  [ngClass]="setActiveClass('addFiche')"
                    routerLink="/intranet/add-formation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon fal fa-files-medical"></i>
                    <i class="sidenav-link-text" *ngIf="opened()">
                        Ajout Fiche
                    </i>
                </a>
                <a class="sidenav-nav-link" routerLink="/intranet" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" [ngClass]="setActiveClass('')">
                    <i class="sidenav-link-icon fal fa-file-search"></i>
                    <i class="sidenav-link-text" *ngIf="opened()">
                        Fiches ECTS
                    </i>
                </a>
                <a *ngIf="!this.authService.connected()" class="sidenav-nav-link" routerLink="connexion"
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    [ngClass]="setActiveClass('connexion')">
                    <i class="sidenav-link-icon fal fa-cog"></i>
                    <i class="sidenav-link-text" *ngIf="opened()">
                        Connexion
                    </i>
                </a>
                <a *ngIf="this.authService.isAdmin()" class="sidenav-nav-link" routerLink="/intranet/admin"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                [ngClass]="setActiveClass('admin')">
                <i class="sidenav-link-icon fal fa-lock"></i>
                <i class="sidenav-link-text" *ngIf="opened()">
                    Administration
                </i>
            </a>
                <a *ngIf="this.authService.connected()" class="sidenav-nav-link" [ngClass]="setActiveClass('dashboard')" (click)="signOut()"
                    href="/">
                    <i class="sidenav-link-icon fal fa-sign-out-alt"></i>
                    <i class="sidenav-link-text" *ngIf="opened()">
                        Déconnexion
                    </i>
                </a>
            </li>

        </ul>
    </div>
</div>