<table>
    <!-- Row A -->
    <tr class="general">
        <td rowspan="4">Validation</td>
        <td>Niveau</td>
        <td>3eme année ICC</td>
        <td colspan="100%"></td>
    </tr>
    <tr class="general">
        <td>Parcours</td>
        <td>Génie Informatique</td>
        <td class="indication" rowspan="3">semestre</td>
        <td class="indication" colspan="5">répartition horaire</td>
        <td></td>
        <td class="indication" colspan="8">contrôle de connaissance</td>
    </tr>
    <!-- Row C -->
    <tr class="general">
        <td>Année</td>
        <td>2022-2023</td>
        <td class="indication" colspan="5">par étudiant</td>
        <td></td>
        <td class="indication" rowspan="2">ECTS</td>
        <td class="indication" colspan="3">1ère session</td>
        <td class="indication" colspan="3">2è session</td>
        <td class="indication"></td>
    </tr>
    <!-- Row D -->
    <tr class="general">
        <td colspan="2">DDI01G3 version 206</td>
        <td class="indication">CM</td>
        <td class="indication">TD</td>
        <td class="indication">TP</td>
        <td class="indication">PRO</td>
        <td class="indication">TPE</td>
        <td></td>
        <td class="indication">type de controle</td>
        <td class="indication">type d'epreuve</td>
        <td class="indication">regle de calcul</td>
        <td class="indication">type de controle</td>
        <td class="indication">type d'epreuve</td>
        <td class="indication">regle de calcul</td>
        <td class="indication">regle particuliere</td>
    </tr>
    <!-- Row 5 -->
    <tr class="generalUE">
        <td class="indication"></td>
        <td>UE1 : Cloud</td>
        <td>196.5</td>
        <td>139</td>
        <td>57.5</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td>14</td>
        <td colspan="100%"></td>
    </tr>
        <!-- Row 6 -->

    <tr class="matiere" id="UE1">
        <td>M</td>
        <td colspan="2">Architecture Microservices</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE1">
        <td>M</td>
        <td colspan="2">Cloud Gaming</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE1">
        <td>M</td>
        <td colspan="2">Cloud Front</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE1">
        <td>M</td>
        <td colspan="2">CLoud Infrastructure</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE1">
        <td>M</td>
        <td colspan="2">Cloud Perspective</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="generalUE" >
        <td class="indication"></td>
        <td>UE2 : Data 1</td>
        <td>196.5</td>
        <td>139</td>
        <td>57.5</td>
        <td>0</td>
        <td>0</td>
        <td></td>
        <td>14</td>
        <td colspan="100%"></td>
    </tr>
    <tr class="matiere" id="UE2">
        <td>M</td>
        <td colspan="2">Big Data</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE2">
        <td>M</td>
        <td colspan="2">CLoud Data</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr class="matiere" id="UE2">
        <td>M</td>
        <td colspan="2">No SQL</td>
        <td>s1</td>
        <td>35</td>
        <td>14</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>5</td>
        <td>CC</td>
        <td>CC</td>
        <td>100%</td>
        <td>ET</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    </table>









<!--
    <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th scope="col" class="w-25">UE</th>
            <th scope="col" class="w-50">Matière</th>
            <th scope="col" class="w-25">Session 1</th>
            <th scope="col" class="w-25">Session 2</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let ue of data?.ue">
            <tr>
              <td>{{ ue.nom }} ({{ ue.semestre }} - {{ ue.ects }} ECTS)</td>
              <td>
                <ul class="list-unstyled">
                  <li *ngFor="let matiere of ue.matiere">
                    <strong>{{ matiere.nom }}</strong> ({{ matiere.ects }} ECTS)
                    <ul class="list-unstyled">
                      <li>CM: {{ matiere.cm }}</li>
                      <li>TD: {{ matiere.td }}</li>
                      <li>TP: {{ matiere.tp }}</li>
                      <li>Pro: {{ matiere.Pro }}</li>
                      <li>TPE: {{ matiere.TPE }}</li>
                      <li>Département: {{ matiere.departement }}</li>
                    </ul>
                  </li>
                </ul>
              </td> 
              <td>
                <ul class="list-unstyled" *ngFor="let matiere of ue.matiere">
                  <li>{{ matiere.id_session1?.type_control }}</li>
                  <li>{{ matiere.id_session1?.type_epreuve }}</li>
                  <li>{{ matiere.id_session1?.regle_particuliere }}</li>
                  <li>{{ matiere.id_session1?.regle_calcul }}</li>
                </ul>
              </td>
              <td>
                <ul class="list-unstyled" *ngFor="let matiere of ue.matiere">
                  <li>{{ matiere.id_session2?.type_control }}</li>
                  <li>{{ matiere.id_session2?.type_epreuve }}</li>
                  <li>{{ matiere.id_session2?.regle_particuliere }}</li>
                  <li>{{ matiere.id_session2?.regle_calcul }}</li>
                </ul>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
-->