.matiere {
    background-color: blue;
}

.general {
    background-color: yellow;
}

.generalUE {
    background-color: rgb(138, 129, 63);
}

.indication {
    background-color: white;
}

#UE1\ \:\ Cloud\ 1 {
    background-color: rgb(144, 241, 0);
}

#UE2\ \:\ Data\ 1 {
    background-color: rgb(90, 219, 233);
}

#UE3\ \:\ Reseau{
    background-color: rgb(156, 56, 156);
}

#UE4\ \:\ Outils{
    background-color: rgb(31, 91, 130);
}
table {
    margin-left: 30px;
    
}

td {
    border-width: 1px;
}

section {
    width: 1000px;}