<section>
    <!--
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{ data?.parcour }} - {{ data?.annee }} - {{ data?.niveau }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>Code: {{ data?.code }}</h5>
            <div *ngFor="let ue of data?.ue">
              <h6>{{ ue.nom }} ({{ ue.semestre }} - {{ ue.ects }} ECTS)</h6>
              <ul>
                <li *ngFor="let matiere of ue.matiere">
                  <strong>{{ matiere.nom }}</strong> ({{ matiere.ects }} ECTS)
                  <ul>
                    <li>CM: {{ matiere.cm }}</li>
                    <li>TD: {{ matiere.td }}</li>
                    <li>TP: {{ matiere.tp }}</li>
                    <li>Pro: {{ matiere.Pro }}</li>
                    <li>TPE: {{ matiere.TPE }}</li>
                    <li>Département: {{ matiere.departement }}</li>
                  </ul>

                  <h6>Session 1</h6>
                  <ul >
                    <li>Type de contrôle: {{ matiere.id_Controle?.type_control }}</li>
                    <li>Type d'épreuve: {{ matiere.id_Controle?.type_epreuve }}</li>
                    <li>Règle particulière: {{ matiere.id_Controle?.regle_particuliere }}</li>
                    <li>Règle de calcul: {{ matiere.id_Controle?.regle_calcul }}</li>
                  </ul>
                  <h6>Session 2</h6>
                  <ul >
                    <li>Type de contrôle: {{ matiere.id_Controle?.type_control_S2 }}</li>
                    <li>Type d'épreuve: {{ matiere.id_Controle?.type_epreuve_S2 }}</li>
                    <li>Règle particulière: {{ matiere.id_Controle?.regle_partic_S2uliere }}</li>
                    <li>Règle de calcul: {{ matiere.id_Controle?.regle_calcul_S2 }}</li>
                  </ul>
                </li>
                </ul>
            </div>
            <div class="btn-group ml-auto">
              <button type="button" class="btn btn-secondary">Exporter en PDF</button>
              <button type="button" class="btn btn-secondary">Exporter en Excel</button>
            </div>
        </div>
        </div>
        </div> -->

        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ data?.parcour }} - {{ data?.annee }} - {{ data?.niveau }}</h4>
              <div class="btn-group ml-auto">
                <button (click)="download()" class="btn btn-primary">Download PDF</button>
                <button type="button" class="btn btn-secondary">Exporter en Excel</button>
              </div>
              <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="htmlData">
              <table class="table table-striped">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="w-25">UE</th>
                    <th scope="col" class="w-50">Matière</th>
                    <th scope="col" class="w-25">Session 1</th>
                    <th scope="col" class="w-25">Session 2</th>
                    <th scope="col" class="w-25">Règle particulière</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let ue of data?.ue">
                    <tr>
                      <td>{{ ue.nom }} ({{ ue.semestre }} - {{ ue.ects }} ECTS)</td>
                      <td>
                        <ul class="list-unstyled">
                          <li *ngFor="let matiere of ue.matiere">
                            <strong>{{ matiere.nom }}</strong> ({{ matiere.ects }} ECTS)
                            <ul class="list-unstyled">
                              <li>CM: {{ matiere.cm }}</li>
                              <li>TD: {{ matiere.td }}</li>
                              <li>TP: {{ matiere.tp }}</li>
                              <li>Pro: {{ matiere.Pro }}</li>
                              <li>TPE: {{ matiere.TPE }}</li>
                              <li>Département: {{ matiere.departement }}</li>
                            </ul>
                          </li>
                        </ul>
                      </td>
                      <td>
                        <ul class="list-unstyled" *ngFor="let matiere of ue.matiere">
                          <li>Type de contrôle: {{ matiere.id_Controle?.type_control_S1 }}</li>
                          <li>Type d'épreuve: {{ matiere.id_Controle?.type_epreuve_S1 }}</li>
                          <li>Règle de calcul: {{ matiere.id_Controle?.regle_calcul_S1 }}</li>
                        </ul>
                      </td>
                      <td>
                        <ul class="list-unstyled" *ngFor="let matiere of ue.matiere">
                          <li>Type de contrôle: {{ matiere.id_Controle?.type_control_S2 }}</li>
                          <li>Type d'épreuve: {{ matiere.id_Controle?.type_epreuve_S2 }}</li>
                          <li>Règle de calcul: {{ matiere.id_Controle?.regle_calcul_S2 }}</li>
                        </ul>
                      </td>
                      <td>
                        <ul class="list-unstyled" *ngFor="let matiere of ue.matiere">
                          <li>Règle particulière: {{ matiere.id_Controle?.regle_particuliere }}</li>
                        </ul>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>

</section>
