<!-- Section: Design Block -->
<section class="">
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title text-center mb-4">Connexion</h3>
          <form #f="ngForm" *ngIf="userId">
            <!-- Existing user login form -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="userId.email" name="email" type="email" id="inputEmail" class="form-control" required />
              <label class="form-label" for="inputEmail">Adresse e-mail</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="userId.password" name="password" type="password" id="inputPassword" class="form-control" required />
              <label class="form-label" for="inputPassword">Mot de passe</label>
            </div>

            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="rememberMe" />
              <label class="form-check-label" for="rememberMe">Se souvenir de moi</label>
            </div>

            <button (click)="check(userId.email, userId.password)" class="btn btn-primary w-100 mb-3">Se connecter</button>

            <div class="text-center">
              <a href="#" class="text-decoration-none">Mot de passe oublié ?</a>
            </div>
          </form>

          <!-- Sign Up button -->
          <button *ngIf="userId" (click)=switch() class="btn btn-primary w-100 mb-3">S'inscrire</button>

          <!-- New user registration form -->
          <form #f2="ngForm" *ngIf="!signIn">
            <h3 class="card-title text-center mb-4">Inscription</h3>
            <div class="form-outline mb-4">
              <input [(ngModel)]="newUser.email" name="email" type="email" id="inputRegEmail" class="form-control" required />
              <label class="form-label" for="inputRegEmail">Adresse e-mail</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="newUser.password" name="password" type="password" id="inputRegPassword" class="form-control" required />
              <label class="form-label" for="inputRegPassword">Mot de passe</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="newUser.family_name" name="family_name" type="text" id="inputRegFamilyName" class="form-control" required />
              <label class="form-label" for="inputRegFamilyName">Nom de famille</label>
            </div>

            <div class="form-outline mb-4">
              <input [(ngModel)]="newUser.given_name" name="given_name" type="text" id="inputRegGivenName" class="form-control" required />
              <label class="form-label" for="inputRegGivenName">Prénom</label>
            </div>
            <button (click)="signUp(newUser.email, newUser.password, newUser.family_name, newUser.given_name)" class="btn btn-primary w-100 mb-3">S'inscrire</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->