<main>
<section class="py-5">
  <div >
    <div>
      <div >
        <h4 ></h4>
        <div class="btn-group ml-auto">
          <!--<button type="button" class="btn btn-secondary">Exporter en Excel</button>-->
        </div>
      </div>
      <div id="htmlData" #htmlData>
        <table *ngIf="formation">
          <!-- Row A -->
          <tr class="general">
            <td rowspan="4">Validation</td>
            <td>Niveau</td>
            <td><input [(ngModel)]="formation.niveau" placeholder="Niveau"></td>
            <td colspan="16"></td>
            <td class="vide"></td>
            <td class="vide"></td>
          </tr>
          <tr class="general">
            <td>Parcours</td>
            <td><input [(ngModel)]="formation.parcour" placeholder="Parcours"></td>
            <td class="indication" rowspan="3">semestre</td>
            <td class="indication" colspan="5">répartition horaire</td>
            <td></td>
            <td class="indication" colspan="8">contrôle de connaissance</td>
            <td></td>
          </tr>
          <!-- Row C -->
          <tr class="general">
            <td>Année</td>
            <td><input [(ngModel)]="formation.annee" placeholder="2023" (input)="onYearChanged()"><p>/{{this.annee_plus_un}}</p> </td>
            <td class="indication" colspan="5">par étudiant</td>
            <td></td>
            <td class="indication" rowspan="2">ECTS</td>
            <td class="indication" colspan="3">1ère session</td>
            <td class="indication" colspan="3">2è session</td>
            <td class="indication"></td>
            <td></td>
            <td class="vide"></td>
            <td class="vide"></td>
          </tr>
          <!-- Row D -->
          <tr class="general">
            <td colspan="2"><input [(ngModel)]="formation.code" placeholder="Code"> </td>
            <td class="indication">CM</td>
            <td class="indication">TD</td>
            <td class="indication">TP</td>
            <td class="indication">PRO</td>
            <td class="indication">TPE</td>
            <td></td>
            <td class="indication">type de controle</td>
            <td class="indication">type d'epreuve</td>
            <td class="indication">regle de calcul</td>
            <td class="indication">type de controle</td>
            <td class="indication">type d'epreuve</td>
            <td class="indication">regle de calcul</td>
            <td class="indication">regle particuliere</td>
            <td></td>
            <td class="vide"><button (click)="formUe()" class="btn btn-dark">Ajouter une UE</button></td>
            <td class="vide"></td>
          </tr>
          <!-- Row 5 -->
          <ng-container *ngFor="let ue of formation.ue">
            <tr class="general">
                <td class="indication">{{ue.id}}</td>
                <td>{{ue.nom}}</td>
                <td></td>
                <td>{{ue.semestre}}</td>
                <td>{{this.sum_cm}}</td>
                <td>{{this.sum_td}}</td>
                <td>{{this.sum_tp}}</td>
                <td>{{this.sum_pro}}</td>
                <td>{{this.sum_tpe}}</td>
                <td></td>
                <td>{{ue.ects}}</td>
                <td colspan="8"></td>
                <td class="vide"><input  class="btn btn-dark" type="button" (click)="selectByUeId(ue.id)" value="Ajouter une matiere" ></td>
                <td class="vide"><input class="btn btn-danger" type="button" (click)="deleteUe(ue.id)" value="Supprimer l'UE" ></td>
            </tr>
                <!-- Row 6 -->
        
            <tr *ngFor="let matiere of ue.matiere" class="matiere" [id]="matiere.departement">
                <td>{{matiere.id}}</td>
                <td colspan="2">{{matiere.nom}}</td>
                <td>{{ue.semestre}}</td>
                <td>{{matiere.cm}}</td>
                <td>{{matiere.td}}</td>
                <td>{{matiere.tp}}</td>
                <td>{{matiere.Pro}}</td>
                <td>{{matiere.TPE}}</td>
                <td></td>
                <td>{{matiere.ects}}</td>
                <td>{{matiere.id_Controle?.type_control_S1}}</td>
                <td>{{matiere.id_Controle?.type_epreuve_S1}}</td>
                <td>{{matiere.id_Controle?.regle_calcul_S1}}</td>
                <td>{{matiere.id_Controle?.type_control_S2}}</td>
                <td>{{matiere.id_Controle?.type_epreuve_S2}}</td>
                <td>{{matiere.id_Controle?.regle_calcul_S2}}</td>
                <td>{{matiere.id_Controle?.regle_particuliere}}</td>
                <td></td>
                <td class="vide" id="deleteMatiere"><input type="button" class="btn btn-secondary" (click)="deleteMatiere(matiere.departement, ue.id)" value="Supprimer la matiere" ></td>

            </tr>
            
          </ng-container>
          <tr><td id="videe" colspan="18"></td><td id="videe"><input type="button" class="btn btn-success mt-3 ms-2" (click)="validerFormation()" value="Valider" ></td></tr>

        </table>
      </div>
    </div>
  </div>

</section>
<section>
  <div modal subtitle class="modal__container">
    <ng-container>
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" *ngIf="this.showUEForm">
              <h2>Ajouter une Ue</h2>
              <form #form="ngForm" >
                <!-- Champs de Ue -->
                <div class="mb-3">
                  <label for="annee" class="form-label">Nom</label>
                  <input type="text" [(ngModel)]="this.ue.nom" class="form-control" name="nom" placeholder="Nom" required>
                </div>
                
                <div class="mb-3">
                  <label for="semestre" class="form-label">Semestre </label>
                    <input type="text" [(ngModel)]="this.ue.semestre" class="form-control" name="semester" placeholder="Semestre" required>
                </div>


                <button type="submit" (click)="ajouterUe()" class="btn btn-success mt-3 ms-2">Valider</button>
                
              </form>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</section>

<section>
  <div modal subtitle class="modal__container">
    <ng-container>
      <section class="py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-12" *ngIf="this.boolMatiere">
              <h2>Ajouter une Matiere</h2>
              <!-- <input type="button" value="Fermer" (click)="fermerFormMatiere()">  -->
              <form #ft="ngForm" >
                <!-- Champs de formation -->
                
                <div class="mb-3">
                  <label for="Nom" class="form-label">Nom</label>
                  <input type="text" [(ngModel)]="this.matiere.nom" class="form-control" name="nom" placeholder="Nom"
                    required>
                </div>
                <div class="mb-3">
                  <label for="ECTS" class="form-label">ECTS</label>
                  <input type="number" [(ngModel)]="this.matiere.ects" class="form-control" name="ects" placeholder="Nombre d'ects"
                    required>
                </div>
                <div class="mb-3">
                  <label for="cm" class="form-label">Cours Magistraux</label>
                  <input type="number" [(ngModel)]="this.matiere.cm" class="form-control" name="cm"
                    placeholder="Nombre d'heures de cours magistraux" required>
                </div>
                <div class="mb-3">
                  <label for="niveau" class="form-label">Travaux Dirigés</label>
                  <input type="number" [(ngModel)]="this.matiere.td" class="form-control" name="td"
                    placeholder="Nombre d'heures de travaux dirigés" required>
                </div>
                <div class="mb-3">
                  <label for="niveau" class="form-label">Travaux Pratiques</label>
                  <input type="number" [(ngModel)]="this.matiere.tp" class="form-control" name="tp"
                    placeholder="Nombre d'heures de travaux pratiques" required>
                </div>
                <div class="mb-3">
                  <label for="niveau" class="form-label">Travaux Pratiques Encadrés</label>
                  <input type="number" [(ngModel)]="this.matiere.TPE" class="form-control" name="TPE"
                    placeholder="Nombre d'heures de travaux pratiques encadrés" required>
                </div>
                <div class="mb-3">
                  <label for="Pro" class="form-label">Pro</label>
                  <input type="number" [(ngModel)]="this.matiere.Pro" class="form-control" name="Pro" placeholder="Pro"
                    required>
                </div>
                <!-- <div class="mb-3">
                  <label for="departement" class="form-label">Département</label>
                  <input type="text" [(ngModel)]="this.matiere.departement" class="form-control" name="departement"
                    placeholder="Département" required>
                </div> -->
                <div class="mb-3">
                  <label for="departement" class="form-label">Département</label>
                  <select [(ngModel)]="matiere.departement" class="form-select" required name="departement">
                    <option value="maths">Mathématique</option>
                    <option value="info">Informatique</option>
                    <option value="hd">HD</option>
                    <option value="ieg">IEG</option>
                    <option value="autre">Autre</option>                      
                    <option value="projet">Projet</option>
                    <!-- Ajoutez d'autres options ici -->
                  </select>
                </div>

                <button type="submit" (click)="ajouterMatiere()" class="btn btn-success mt-3 ms-2">Valider</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </ng-container>
  </div>
</section>
</main>