.matiere {
    background-color: blue;
}
main {
    max-width: calc(100% - 300px);
}


.general {
    background-color: #fae3c2;
}

.indication {
    background-color: white;
}


#maths {
    background-color: rgb(144, 241, 0);
}

#info {
    background-color: rgb(90, 219, 233);
}

#projet {
    background-color: rgb(255, 242, 0);
}

#hd {
    background-color: rgb(233, 137, 241);
}

#ieg {
    background-color: rgb(237, 177, 49);
}

#autre {
    background-color:rgb( 253 , 191 , 183);
}


table {
    margin-left: 30px;
    
}

td {
    border-width: 1px;
}

section {
    width: 100%;}

#addMatiere {
    background-color: white;
    border: none;
}
#videe {
    background-color: white;
    border: none;
}

.vide {
    background-color: white;
    border: none;
}

td {
    min-width: 3rem;
    min-height: 0px;
    }
    
    input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }