.container {
    margin: 20px;
    min-height: calc(100dvh - 75px);


  }
  
  .panel {
    margin-bottom: 20px;
  }
  
  .panel button {
    margin-right: 10px;
  }
  
  .user-container {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .user-container h3 {
    margin-bottom: 10px;
  }
  
  .user-list {
    list-style-type: none;
    padding: 0;
  }
  
  .user-list li {
    margin-bottom: 5px;
  }
  
  .formation-label {
    font-weight: bold;
    margin-right: 5px;
  }
  .clickable-user {
    font-weight: bold;
    cursor: pointer;
  }
  